@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  /* width */
  ::-webkit-scrollbar {
    width: 0px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-slate-300;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 100vh;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-pink-400;
  }

  html {
    scroll-behavior: smooth;
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }


}

@layer components {}